:root {
  --deepblue: #222a4f;
  --charcoal: #36454f;
}

#content {
  font-weight: bold;
}

body {
  margin: 0px;
  background-color: var(--charcoal);
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.leftside {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo img {
  height: 10vh;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
}

.rightside {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.selector:hover {
  cursor: pointer;
  color: lightblue;
}

#Home .circle {
  background-color: lightblue;
}

.photo {
  position: relative;
}

.photo img {
  width: 100vw;
}

.banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner button {
  font-size: 24px;
  background-color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: var(--deepblue);
}

.banner button:hover {
  cursor: pointer;
  background-color: var(--charcoal);
  color: white;
  outline: 2px solid white;
}

.banner h1 {
  font-size: 50px;
}

.banner h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 15px;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.left-container .logo img {
  margin: 0;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.hours,
.location {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: Helvetica;
  gap: 15px;
  font-weight: bold;
}

.location {
  margin-top: 20px;
}

.time {
  font-size: 16px;
  font-weight: 400;
}

.address {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding-top: 30px;
  height: 100px;
}

.media-apps {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.media-apps img {
  height: 50px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}

.food {
  display: flex;
  justify-content: space-around;
}

.food-type {
  display: grid;
  width: 90%;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.food-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seafoodheader {
  position: relative;
}

.seafoodheader img {
  width: 100vw;
  margin: -300px 100px 0 0px;
}

.title {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  font-family: Helvetica;
  color: var(--charcoal);
}
.food .title img {
  width: 250px;
  height: auto;
}

.food-item {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.price {
  font-weight: 100;
  grid-column-start: 2;
  font-family: Helvetica;
}

.description {
  font-family: Arial;
  font-weight: 100;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.food div img {
  height: 400px;
  border-radius: 10px;
}

.seafoodheader .banner {
  top: 70%;
  font-size: 40px;
}

.name {
  color: var(--deepblue);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.github {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  font-family: Helvetica;
  color: white;
}

.outside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: white;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: flex;
}

.left-form {
  display: flex;
  flex-direction: column;
}

.right-form {
  display: flex;
  flex-direction: column;
}
